div.container#footer
	div.footer.row
		ul
			li.span3.footer-li
				ul= t("info")
					li
						a(href="#" data-i18n="aboutUs")
					li
						a(href="#" data-i18n="deliveryInfo") 
					li
						a(href="#" data-i18n="privacyPolicy") 
					li
						a(href="#" data-i18n="payment")
			li.span3.footer-li.offset1
				ul= t("customerService") 
					li 
						a(href="#" data-i18n="contactUs") 
					li 
						a(href="#" data-i18n="returns")
					li 
						a(href="#" data-i18n="service") 
					li 
						a(href="#" data-i18n="map") 
			li.span3.footer-li.offset1
				ul= t("accountUl") 
					li 
						a(href="#" data-i18n="paymentLi")
					li 
						a(href="#" data-i18n="orderHistory")
					li 
						a(href="#" data-i18n="wishList") 
					li 
						a(href="#" data-i18n="newsletter") 
			li.span3.footer-li.pull-right
				ul= t("yourStore") 
					li 
						a(href="#" data-i18n="mail") 
					li= t("tel") 
					li= t("adress1") 
					li= t("adress2") 
		ul.social.span4.pull-right
			li.facebook
				a(href="#") 
			li.twitter
				a(href="#")
			li.googleplus
				a(href="#")
			li.skype
				a(href="#")
			li.social-li
				a(href="#")
